---
import Layout from "../layouts/Layout.astro";
---

<Layout title="IMC Home Page">
  <main>
    <h1 class="text-3xl mb-2">Home Page</h1>
		<h2 class="text-2xl mb-2">Instituto Medicina Cabalista</h2>
    <p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis nostrum fugiat eligendi adipisci dicta iste laudantium accusantium. Error laborum, velit consequuntur adipisci cum qui obcaecati, fugit fuga maiores earum aperiam.
    </p>
  </main>
</Layout>
