---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-3xl mb-2">Coletivo Medicina Cabalista</h1>
  <h2 class="text-xl mb-2">
    Uma medicina milenar com um olhar sistêmico e integrativo
  </h2>
  <p>
    Nossa missão é transformar a vida pessoal e profissional de terapeutas e
    aspirantes a terapeutas, por meio do aprendizado e da prática de técnicas
    milenares de cura, da Medicina Cabalista.
  </p>
  <p>
    Encontre as raízes das dores físicas e emocionais. A cura é um processo
    lento, sendo visto como o encadeamento de movimentos. É uma construção
    contínua. Sendo assim, não é feita de uma hora para outra. Tomar o poder da
    cura nas mãos é essencial, ter autoria na própria vida é fundamental, é
    preciso assumir o curador e a curadora que há dentro de nós.
  </p>
</Layout>
