---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-3xl mb-2">Home Page</h1>
  <h2 class="text-2xl mb-2">Instituto Medicina Cabalista</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis
    maiores ea pariatur? Iure cumque, qui dolores voluptatum nisi vero
    praesentium sint fugit saepe rem ad ipsam accusamus animi hic!
  </p>
  <p>
    Architecto tenetur, recusandae odio reiciendis distinctio modi, sapiente
    laborum doloremque ad minima veniam quidem sint laudantium deleniti
    repellendus saepe ea nihil? Quaerat in possimus asperiores debitis
    obcaecati, illum voluptates facere!
  </p>
  <p>
    Delectus ut at labore nobis reiciendis et fuga? Nemo, rerum blanditiis
    veritatis temporibus assumenda minima dolorem magni, quia suscipit
    recusandae reiciendis cumque, dolores libero officiis autem nisi? Placeat,
    sunt sint.
  </p>
  <p>
    Modi quibusdam accusantium ea nesciunt consequatur eius velit numquam, saepe
    aspernatur quae ullam dolorum assumenda voluptas porro aut, deleniti
    recusandae sunt magni facere voluptates quis enim fugiat? Ipsa, maiores
    magni.
  </p>
  <p>
    Esse hic velit sunt voluptate cumque nam quis expedita voluptatibus eaque
    molestias magni molestiae nostrum nobis tempora, dolores perferendis totam.
    Porro voluptas distinctio ea facere eos alias autem accusamus magnam.
  </p>
  <p>
    Omnis eaque ducimus unde molestiae, veniam illo dolores. Aspernatur eius,
    reprehenderit et sequi velit maiores tempore consequuntur porro cum quia
    natus iusto neque earum, pariatur nemo, accusamus vero ratione quam.
  </p>
  <p>
    Ducimus facilis amet voluptatum at dolor eveniet omnis. Dolorem,
    voluptatibus maxime. Perspiciatis, pariatur nobis necessitatibus accusantium
    aut voluptatum dolor nostrum molestias reprehenderit recusandae consequatur
    iste illo eum esse ratione odit.
  </p>
  <p>
    Corporis, quia necessitatibus quidem doloribus tempora ducimus nisi aliquam,
    voluptatibus ipsum dolorum nesciunt natus modi perferendis. Modi ullam,
    quaerat fuga dicta, dolor dolores harum illo iusto soluta accusantium sunt
    cum?
  </p>
  <p>
    Et consequuntur incidunt porro modi delectus voluptate eligendi nemo
    voluptates corrupti alias? Consectetur qui impedit, ipsum iste quis soluta,
    saepe hic nam odit, corrupti aperiam modi eaque consequuntur velit in?
  </p>
  <p>
    Accusamus iure expedita corrupti asperiores molestias esse aspernatur quas,
    neque architecto enim labore dolore cum iusto ea sit minima, impedit eum
    nisi optio quibusdam? Itaque a nam iste optio? Adipisci.
  </p>
</Layout>
