---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
---

<Layout
  title="IMC - Onde Estamos"
  description="Estamos localizados dentro da Serra da Mantiqueira Paulista, local de extrema beleza natural e abundância de biodiversidade."
>
  <main class="flex-1">
    <section class="w-full">
      <Image
        src="/images/sunny-seven-hills.jpg"
        alt="Sítio Sete Colinas"
        width={1920}
        height={1080}
        aspectRatio="16:9"
        format="webp"
      />
    </section>
    <section
      class="mx-auto max-w-3xl p-4 sm:p-6 space-y-3 bg-neutral-200/30 -top-5"
    >
      <h1 class="text-3xl font-medium pb-3 text-imc">
        Um território de aprendizado e transformação
      </h1>
      <p>
        Estamos localizados dentro da Serra da Mantiqueira Paulista, local de
        extrema beleza natural e abundância de biodiversidade.
      </p>
      <p>
        Depois de 5 longos anos de planejamento, demos o passo decisivo para uma
        transição de vida com toda a família. Saímos da cidade (Rio de Janeiro)
        e viemos para a região de São Bento do Sapucaí/SP.
      </p>
      <p>
        Aqui conhecemos a realidade dos pequenos produtores rurais e seus
        desafios. A produção de alimentos precisa urgentemente ser revista e
        reformulada. Estamos contribuindo com a produção consciente de
        alimentos, que vai além da agricultura orgânica, apoiando as compras
        locais, a economia de transição e o turismo sustentável.
      </p>
      <p class="text-xl text-imc">
        Seja parte desse movimento de cura, plenitude e equilíbrio!!
      </p>
      <div class="py-3 text-center">
        <Link
          text="Receba nosso conteúdo"
          href="#"
          class="inline-block text-neutral-100 text-sm font-medium uppercase rounded-full px-5 py-2.5 bg-imc transition hover:bg-imc-light hover:text-neutral-50 focus:outline-none focus-visible:ring focus-visible:ring-imc/20"
        />
      </div>
    </section>
  </main>
</Layout>
