---
---

<footer class="bg-primary-light">
  <div class="max-w-7xl mx-auto p-4 sm:p-6">
    <p class="text-sm text-center text-white text-opacity-80">
      Copyright &copy; <span id="copyright"></span> | All rights reserved
    </p>
  </div>
</footer>

<!-- client side js -->
<script>
  const date = document.querySelector("#copyright") as Element;
  date.textContent = new Date().getFullYear().toString();
</script>