---
import Nav from "../components/Nav.astro";
---

<header class="bg-primary-dark shadow-xl shadow-neutral-300">
  <div class="mx-auto max-w-7xl flex items-center justify-between p-4 sm:p-6">
    <!-- TODO - replace with logo -->
    <p class="text-neutral-200 font-semibold">IMC LOGO</p>
    <Nav />
  </div>
</header>