---
import { Icon } from "astro-icon";
import Nav from "../components/Nav.astro";
---

<header class="bg-neutral-50 shadow-md">
  <div class="mx-auto max-w-6xl flex items-center justify-between p-4 sm:p-6">
    <!-- TODO - replace with logo -->
    <a href="/">
      <Icon name="ph:spiral-bold" width="48" height="48" class="text-imc transition duration-300 hover:text-imc-light" />
    </a>
    <Nav />
  </div>
</header>