---
import Link from "./Link.astro";

const navData = [
  { name: "Medicina Cabalista", path: "/medicina-cabalista" },
  { name: "Blog", path: "/blog" },
  { name: "Onde Estamos", path: "/onde-estamos" },
];
---

<nav class="">
  <ul class="flex items-center justify-between gap-6">
    {
      navData.map((navItem) => (
        <li>
          <Link
            text={navItem.name}
            href={navItem.path}
            class="text-sm uppercase transition duration-200 hover:text-imc-light"
          />
        </li>
      ))
    }
    <li>
      <Link
        text="Cursos"
        href="https://conhecer-deixe-seu-legado.memberkit.com.br/"
        target="_blank"
        class="text-neutral-100 text-sm font-medium uppercase rounded-full px-5 py-2.5 bg-imc transition hover:bg-imc-light hover:text-neutral-50"
      />
    </li>
  </ul>
</nav>
