---
import Link from "./Link.astro";
import { navData } from "../data/navData";
---

<nav class="">
  <ul class="flex items-center justify-between gap-6">
    {
      navData.map((navItem) => (
        <li>
          <Link
            text={navItem.name}
            href={navItem.path}
            class="text-sm uppercase transition duration-200 hover:text-imc-light rounded focus:outline-none focus-visible:ring-1 focus-visible:ring-imc"
          />
        </li>
      ))
    }
    <li>
      <Link
        text="Cursos"
        href="https://conhecer-deixe-seu-legado.memberkit.com.br/"
        target="_blank"
        class="text-neutral-100 text-sm font-medium uppercase rounded-full px-5 py-2.5 bg-imc transition hover:bg-imc-light hover:text-neutral-50 focus:outline-none focus-visible:ring-1 focus-visible:ring-imc/20"
      />
    </li>
  </ul>
</nav>
