---
import { Icon } from "astro-icon";
---

<div class="text-neutral-100 flex gap-2">
  <div class="rounded-full p-1 border-2 border-opacity-70 border-imc-light hover:bg-imc-light transition">
    <a href="https://www.facebook.com/medicinacabalista" target="_blank">
      <Icon name="mdi:facebook" height="24" width="24" />
    </a>
  </div>
  <div class="rounded-full p-1 border-2 border-opacity-70 border-imc-light hover:bg-imc-light transition">
    <a href="https://www.instagram.com/medicinacabalista/" target="_blank">
      <Icon name="mdi:instagram" height="24" width="24" />
    </a>
  </div>
  <div class="rounded-full p-1 border-2 border-opacity-70 border-imc-light hover:bg-imc-light transition">
    <a href="https://www.youtube.com/channel/UCWfGWlWP4knDvZyEnonqViA" target="_blank">
      <Icon name="mdi:youtube" height="24" width="24" />
    </a>
  </div>
</div>
